In [22]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [23]:
dpath = '/Users/fahmiyansyah/Polinema/Grade3/Semester 3/Machine Learning/Week 2/wbc.csv'
df = pd.read_csv(dpath)
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [24]:
df = df[['diagnosis', 'radius_mean', 'area_mean', 'area_worst', 'fractal_dimension_worst']]
df.head()

  diagnosis  radius_mean  area_mean  area_worst  fractal_dimension_worst
0         M        17.99     1001.0      2019.0                  0.11890
1         M        20.57     1326.0      1956.0                  0.08902
2         M        19.69     1203.0      1709.0                  0.08758
3         M        11.42      386.1       567.7                  0.17300
4         M        20.29     1297.0      1575.0                  0.07678

In [25]:
le = LabelEncoder() # initiate LabelEncoder object
df['diagnosis'] = le.fit_transform(df['diagnosis']) # encoding
df.head()

   diagnosis  radius_mean  area_mean  area_worst  fractal_dimension_worst
0          1        17.99     1001.0      2019.0                  0.11890
1          1        20.57     1326.0      1956.0                  0.08902
2          1        19.69     1203.0      1709.0                  0.08758
3          1        11.42      386.1       567.7                  0.17300
4          1        20.29     1297.0      1575.0                  0.07678

In [26]:
std = StandardScaler()
df['radius_mean'] = std.fit_transform(df[['radius_mean']])
df['area_mean'] = std.fit_transform(df[['area_mean']])
df['area_worst'] = std.fit_transform(df[['area_worst']])
df['fractal_dimension_worst'] = std.fit_transform(df[['fractal_dimension_worst']])
df.head()

   diagnosis  radius_mean  area_mean  area_worst  fractal_dimension_worst
0          1     1.097064   0.984375    2.001237                 1.937015
1          1     1.829821   1.908708    1.890489                 0.281190
2          1     1.579888   1.558884    1.456285                 0.201391
3          1    -0.768909  -0.764464   -0.550021                 4.935010
4          1     1.750297   1.826229    1.220724                -0.397100

In [27]:
# Split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya
# data lainnya, akan kita split lagi menjadi validasi dan testing.
# Rasio yang akan kita gunakan adalah 80:20
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0, stratify=df['diagnosis'])

# Split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0, stratify=df_unseen['diagnosis'])

# Cek masing-masing ukuran data

print(f'Jumlah label data asli:\n{df.diagnosis.value_counts()}')
print(f'Jumlah label data train:\n{df_train.diagnosis.value_counts()}')
print(f'Jumlah label data val:\n{df_val.diagnosis.value_counts()}')
print(f'Jumlah label data test:\n{df_test.diagnosis.value_counts()}')

Jumlah label data asli:
diagnosis
0    357
1    212
Name: count, dtype: int64
Jumlah label data train:
diagnosis
0    285
1    170
Name: count, dtype: int64
Jumlah label data val:
diagnosis
0    36
1    21
Name: count, dtype: int64
Jumlah label data test:
diagnosis
0    36
1    21
Name: count, dtype: int64